[Desktop Entry]
Type=Application
Name=文件共享
Name[zh_CN]=文件共享
Comment=在本地浏览共享目录，并通过浏览器共享文件
Comment[zh_CN]=在本地浏览共享目录，并通过浏览器共享文件
Exec=fileshare
Icon=folder
Terminal=false
Categories=Utility;FileTools;
